<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>

    <h1>create new subjects</h1>

    <form action="/subjects" method="post">
    <div class=" ">
      <label for="name" class="form-label">name</label>
      <input type="text" id="name" class="form-control" placeholder="name" name="name">
    </div>
 
    <div class=" ">
      <label for="code" class="form-label"><code></code></label>
      <input type="text" id="name" class="form-control" placeholder="code" name="code">
    </div>

    <div class=" ">
      <label for="department" class="form-label">department</label>
      <select id="" class="form-select" name="department">
        {{#each departments}}
        <option value="{{_id}}">{{name}}</option>
        
        {{/each}}

        <option value="CS">CS</option>
        <option value="IT">IT</option>
        <option value="IS">IS</option>
      </select>
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>